body {
    background: linear-gradient(to bottom, #0056b3, #003DA5); /* Gradient background */
    font-family: Arial, sans-serif;
    color: white;
    margin: 0;
}
header {
   display: flex;
   justify-content: space-between; 
   padding: 20px; 
}

nav {
   display: flex;
   gap: 10px; /* Space between buttons */
}

button {
   background-color: #0056b3; /* Button color */
   border:none; 
   border-radius:5px; 
   color:white; 
   cursor:pointer; 
   font-size:16px; 
   padding:10px 20px; 
   transition:.3s ease; 
}

button:hover { 
   background-color:#004494; /* Darker blue on hover */ 
}

section {
    padding: 50px;
    height: 100vh; /* Full viewport height */
}

#info { background-color: #004080; }
#members { background-color: #003366; }
#competitions { background-color: #00264d; }
#news { background-color: #001a33; }